body{
    margin: 0;
    padding: 0;
    background-image:none;
    background-color: palegoldenrod;
    font-family: ;

}
#aboutus{
    display: flex;
    align-items: center;
    justify-content: center;

}
#aboutus h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#carousel{
    font-weight: bold;
    color: white;
   
    opacity: 1;
}
#aboutus{
    color: black;
}
#make-order h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#whatweoffer h4{
    display: flex;
    align-items: center;
    justify-content: center;
}




